extends maincontent.pug
block content
    +title("about this game", "about")
    .container__about
        .container__about-list
            p.highLight Developer: Moon Studios GmbH
            span /
            p.highLight Publisher: Xbox game studios 
            span /
            p.highLight Release date: 11 Mar, 2020
        .container__about-text
            p The little spirit Ori is no stranger to peril, but when a fateful flight puts the owlet Ku in harm’s way, it will take more than bravery to bring a family back together, heal a broken land, and discover Ori’s true destiny. From the creators of the acclaimed action-platformer Ori and the Blind Forest comes the highly anticipated sequel. Embark on an all-new adventure in a vast world filled with new friends and foes that come to life in stunning, hand-painted artwork. Set to a fully orchestrated original score, Ori and the Will of the Wisps continues the Moon Studios tradition of tightly crafted platforming action and deeply emotional storytelling.