+title("buy game", "buy")
.container__buy
    .deals
        +deal("pic2.jpg", "game", "10", "Play the critically acclaimed masterpiece. Embark on a new journey in a vast, exotic world where you’ll encounter towering enemies and challenging puzzles on your quest to unravel Ori’s destiny.")
        +deal("pic3.jpg", "soundtrack", "18", "Featuring 60 tracks composed by Gareth Coker, this soundtrack tells through music Ori's all-new adventure in a vast, exotic world where you’ll encounter towering enemies and challenging puzzles on your quest to unravel his destiny.")
    .stores
        h2 or buy on
        .stores__list
            +storeButton