extends maincontent.pug 
block content
    +title("system requirements", "requirements")
    .container__requirements
        +requirementsList("Minium", requirementsIcons, requirementsTypes, requirementsMinium)
        +requirementsList("Recommended", requirementsIcons, requirementsTypes,  requirementsRecommends)