.sidebar
    .sidebar__top
        +linkIcon("#", "fas fa-bars")
    .sidebar__middle
        ul 
            li: +linkIcon("#about", "far fa-home")
            li: +linkIcon("#requirements", "fal fa-desktop")
            li: +linkIcon("#trailer", "far fa-gamepad")
            li: +linkIcon("#reviews", "far fa-trophy")
    .sidebar__bot
        +linkIcon("#buy", "fal fa-shopping-cart")