include constants.pug
include mixins.pug
doctype html
html(lang='en')
    head
        include modules/head.pug

    body
        include modules/sidebar.pug
        include modules/mainimg.pug

        .content
            .container
                include modules/about.pug
                include modules/requirements.pug
                include modules/trailer.pug
                include modules/reviews.pug
                include modules/buy.pug
                include modules/foot.pug