@font-face {
  font-family: "corporate_sextra_bold";
  src: url("../fonts/corporate_s_extra_bold-webfont.woff2") format("woff2");
  src: url("../fonts/corporate_s_extra_bold-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "corporate_sregular";
  src: url("../fonts/corporate_s_regular-webfont.woff2") format("woff2");
  src: url("../fonts/corporate_s_regular-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  color: #888888;
}

body {
  background-color: #1c1e1f;
}

h1, h2, h3, h4 {
  font-family: corporate_sextra_bold;
  color: white;
}

p {
  font-family: "corporate_sregular";
}

ul {
  list-style: none;
}

.highLight {
  color: #00acee;
}

.scnLight {
  color: white;
}

.btn {
  outline: none;
  background-color: transparent;
  border: 1px solid #00acee;
  color: #00acee;
  font-weight: 600;
  padding: 10px 30px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 20px;
}
.btn:hover {
  color: #1c1e1f;
  background-color: #00acee;
  transition: 0.5s;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 4vw;
  background-color: #1c1e1f;
  position: fixed;
}
.sidebar i {
  font-size: x-large;
}
.sidebar__top a {
  text-decoration: none;
  display: block;
  width: 4vw;
  height: 4vw;
  background-color: #00acee;
  line-height: 4vw;
  text-align: center;
}
.sidebar__top a i {
  color: #1c1e1f;
}
.sidebar__top a:hover i {
  color: #1c1e1f;
  transform: scale(1.2);
  transition: 0.5s;
}
.sidebar__middle a {
  text-decoration: none;
  display: block;
  width: 4vw;
  height: 4vw;
  background-color: #1c1e1f;
  line-height: 4vw;
  text-align: center;
}
.sidebar__middle a i {
  color: #888888;
}
.sidebar__middle a:hover i {
  color: #00acee;
  transform: scale(1.2);
  transition: 0.5s;
}
.sidebar__bot a {
  text-decoration: none;
  display: block;
  width: 4vw;
  height: 4vw;
  background-color: #1c1e1f;
  line-height: 4vw;
  text-align: center;
}
.sidebar__bot a i {
  color: #00acee;
}
.sidebar__bot a:hover i {
  color: #00acee;
  transform: scale(1.2);
  transition: 0.5s;
}

.mainImg {
  margin-left: 4vw;
  background-image: url("../images/pic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 37vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
}
.mainImg__text {
  color: white;
  text-align: center;
}
.mainImg__text h1 {
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
  transform: scale(1, 1.1);
}
.mainImg__text h3 {
  color: #00acee;
  padding: 10px 0;
}
.mainImg__btn {
  margin-bottom: 20px;
}
.mainImg__btn ul {
  display: flex;
  justify-content: center;
}
.mainImg__btn ul img {
  width: 25px;
  margin: 0 20px;
}
.mainImg__btn ul img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.content {
  margin-left: 42vw;
}
.content .container {
  width: 90%;
  margin: auto;
  font-size: 1.1rem;
}
.content .container__title {
  font-size: 3rem;
  padding: 30px 0;
  text-transform: capitalize;
}
.content .container__about {
  padding-bottom: 50px;
  border-bottom: 2px solid rgba(136, 136, 136, 0.09);
}
.content .container__about-list {
  font-weight: bold;
  font-style: italic;
  display: flex;
  margin-bottom: 20px;
}
.content .container__about-list span {
  padding: 0 10px;
}
.content .container__requirements {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 2px solid rgba(136, 136, 136, 0.09);
}
.content .container__requirements-list {
  flex: 1;
}
.content .container__requirements-list > div {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.content .container__requirements-list > div .listIcon {
  width: 15%;
  text-align: center;
}
.content .container__requirements-list > div .listIcon i {
  color: #00acee;
  font-size: 2rem;
}
.content .container__trailer {
  padding-bottom: 50px;
  border-bottom: 2px solid rgba(136, 136, 136, 0.09);
}
.content .container__reviews {
  padding-bottom: 50px;
  border-bottom: 2px solid rgba(136, 136, 136, 0.09);
}
.content .container__reviews-score {
  display: flex;
  margin-bottom: 50px;
  background: url(../images/slide/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  animation: slide 20s infinite;
}
@keyframes slide {
  25% {
    background: url(../images/slide/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  50% {
    background: url(../images/slide/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  75% {
    background: url(../images/slide/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  100% {
    background: url(../images/slide/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}
.content .container__reviews-score > div {
  flex: 1;
  text-align: center;
  padding: 50px 0;
}
.content .container__reviews-score > div h2 {
  transform: scale(1, 1.2);
}
.content .container__reviews-text .text-review {
  display: flex;
  margin-top: 40px;
}
.content .container__reviews-text .text-review__logo {
  margin-right: 10px;
}
.content .container__reviews-text .text-review__logo img {
  width: 40px;
  border-radius: 50%;
}
.content .container__buy {
  padding-bottom: 50px;
  border-bottom: 2px solid rgba(136, 136, 136, 0.09);
}
.content .container__buy .deals {
  display: flex;
  justify-content: space-around;
}
.content .container__buy .deals__deal {
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .container__buy .deals__deal div:first-child > * {
  margin-bottom: 10px;
}
.content .container__buy .deals__deal img {
  width: 100%;
}
.content .container__buy .deals__deal img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.content .container__buy .stores {
  margin-top: 40px;
}
.content .container__buy .stores h2 {
  text-align: center;
  margin-bottom: 30px;
}
.content .container__buy .stores__list ul {
  display: flex;
  justify-content: space-evenly;
}
.content .container__buy .stores__list ul img {
  width: 50px;
  margin: 0 20px;
}
.content .container__buy .stores__list ul img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.content .container__foot p {
  text-align: center;
  padding: 20px 0;
}

@media only screen and (max-width: 1024px) {
  .sidebar i {
    font-size: large;
  }

  .content .container__about-list {
    display: block;
  }
  .content .container__about-list span {
    display: none;
  }
  .content .container__requirements {
    display: block;
  }
  .content .container__requirements > div:first-child {
    margin-bottom: 30px;
  }
  .content .container__buy .deals {
    display: block;
  }
  .content .container__buy .deals__deal:first-child {
    margin-bottom: 40px;
  }
  .content .container__buy .deals__deal {
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .sidebar {
    flex-direction: row;
    height: 5vh;
    width: 100vw;
    bottom: 0;
    z-index: 100;
    box-shadow: -1px -10px 24px 5px rgba(28, 30, 31, 0.99);
  }
  .sidebar a {
    width: 5vh;
    height: 5vh;
    line-height: 6vh;
  }
  .sidebar ul {
    display: flex;
  }
  .sidebar ul li {
    padding: 0 10px;
  }

  .mainImg {
    margin-left: 0;
    width: 100vw;
    height: 95vh;
    position: relative;
  }

  .content {
    margin-left: 0;
  }
  .content .container__foot {
    margin-bottom: 5vh;
  }
}

/*# sourceMappingURL=style.css.map */
